.customers {
    padding: 60px 0;

    @media screen and (min-width: $desktop) {
        padding: 94px 0;
    }
}

.customers-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    margin: 0;
    padding: 0;
    list-style: none;
}

.customers__link {
    width: 210px;
    height: 92px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $icon-color;
    border-radius: 4px;

    fill: $icon-color;

    transition: border-color $transition-time $transition-cubic,
        fill $transition-time $transition-cubic;

    &:hover,
    &:focus {
        fill: $accent-text-cl;
        border-color: $accent-text-cl;
    }

    @media screen and (min-width: $desktop) {
        width: 170px;
        height: 90px;
    }
}