.features {
    padding: 60px 0;

    @media screen and (min-width: $desktop) {
        padding: 94px 0;
    }
}

.features__list {
    display: block;

    @media screen and (min-width: $table) {
        display: flex;
        flex-wrap: wrap;
    }

    @media screen and (min-width: $desktop) {
        flex-wrap: nowrap;
    }
}

.features__item {

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (min-width: $table) {
        width: 354px;

        &:nth-child(2n+1) {
            margin-right: 30px;
        }
    }

    @media screen and (min-width: $desktop) {
        &:not(:last-child) {
            margin-bottom: 0px;
            margin-right: 30px;
        }
    }
}


.features__card {
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0 0 30px 0;

    border-radius: 4px;
    background-color: var(--primary-section-bg-cl);

    @media screen and (min-width: $desktop) {
        width: 270px;
    }
}

.features__title {
    margin: 0 0 10px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    text-align: center;

    @media screen and (min-width: $table) {
        text-align: start;
    }
}

.features__text {
    margin: 0;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--secondary-text-cl);
}