.hero {
    max-width: 480px;
    height: 400px;

    margin: 0 auto;
    padding: 118px 0px;

    text-align: center;

    color: var(--light-text-cl);
    background-color: var(--secondary-bg-cl);


    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url('../images/hero/hero-mobile@1x.jpg');

    @include hero-responsive-image(2, 192dpi, 2dppx, '../images/hero/hero-mobile@2x.jpg');
    @include hero-responsive-image(3, 288dpi, 3dppx, '../images/hero/hero-mobile@3x.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



    @media screen and (min-width: $table) {
        max-width: 768px;
        height: 400px;

        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/hero/hero-table@1x.jpg');

        @include hero-responsive-image(2, 192dpi, 2dppx, '../images/hero/hero-table@2x.jpg');
        @include hero-responsive-image(3, 288dpi, 3dppx, '../images/hero/hero-table@3x.jpg');
    }

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        height: 600px;
        padding: 200px 0px;

        background-image: linear-gradient(to right,
                rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url('../images/hero/hero-desktop@1x.jpg');

        @include hero-responsive-image(2, 192dpi, 2dppx, '../images/hero/hero-desktop@2x.jpg');
        @include hero-responsive-image(3, 288dpi, 3dppx, '../images/hero/hero-desktop@3x.jpg');
    }
}

.hero__title {
    margin: 0px 0px 30px 0px;

    text-align: center;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    @media screen and (min-width: $desktop) {
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__btn {
    transition: color var(--transition-time) var(--transition-cubic),
        background-color var(--transition-time) var(--transition-cubic);

    &:hover,
    &:focus {
        color: --accent-text-cl;
        background-color: --main-bg-cl;
    }
}