.team {
    background-color: var(--primary-section-bg-cl);
    padding: 60px 0;

    @media screen and (min-width: $desktop) {
        padding: 94px 0;
    }
}

.team__list {
    display: flex;
    flex-direction: column;
    gap: 30px;


    @media screen and (min-width: $table) {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.team__item {
    background-color: var(--main-bg-cl);

    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgb(0 0 0 / 12%),
        0px 1px 1px rgb(0 0 0 / 14%),
        0px 2px 1px rgb(0 0 0 / 20%);
}


.team__img {

    @media screen and (min-width: $table) {
        width: 354px;
    }

    @media screen and (min-width: $desktop) {
        width: 270px;
        height: 260px;
    }
}

.team__info {
    padding: 30px 0 24px 0;

    @media screen and (min-width: $desktop) {
        padding: 30px 0 30px 0;
    }
}

.team__name {
    margin: 0 0 10px 0;
    text-align: center;

    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    font-weight: 500;

    color: var(--main-text-cl);
}

.team__occupation {
    margin: 0 0 16px 0;
    text-align: center;

    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    color: var(--secondary-text-cl);
}

.team__social-list {
    display: flex;
    padding: 0;
    justify-content: center;
}