.btn {
    width: 200px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    border: none;

    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--light-text-cl);
    background-color: var(--accent-bg-cl);
    cursor: pointer;
}