.logo {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;

    color: var(--accent-text-cl);
}

.header__logo--black {
    color: #000000;
}

.footer__logo--white {
    color: var(--light-text-cl);
}