.social-list__item {
    list-style: none;
    text-align: center;

    &:not(:last-child) {
        margin-right: 10px;
    }
}

.social-list__link {
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    fill: var(--icon-color);

    transition: background-color var(--transition-time) var(--transition-cubic),
        fill var(--transition-time) var(--transition-cubic),
        border-radius var(--transition-time) var(--transition-cubic);

    &:hover,
    &:focus {
        border-radius: 50%;
        background-color: var(--accent-bg-cl);
        fill: var(--light-text-cl);
    }

    @media screen and (min-width: $desktop) {
        width: 40px;
        height: 40px;
    }
}