.container {
    margin: 0 auto;
    padding: 0 15px;

    width: 100%;

    @media screen and (min-width: $mobile) {
        width: $mobile;
    }

    @media screen and (min-width: $table) {
        width: $table;
    }

    @media screen and (min-width: $desktop) {
        width: $desktop;
    }
}