.contacts-list {
  display: none;

  .menu-container.is-open & {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }


  @media screen and (min-width: $table) {
    display: flex;
    flex-direction: column;
  }

  @media screen and (min-width: $desktop) {
    flex-direction: row;
  }
}

.contacts-list__item {

  @media screen and (min-width: $table) {
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin: 0 30px 0 0;
    }
  }
}

.contacts-list__link {

  text-decoration: none;
  line-height: 1.17;

  color: var(--secondary-text-cl);
  fill: var(--secondary-text-cl);

  transition: color var(--transition-time) var(--transition-cubic);

  &--mail {
    font-size: 24px;

    color: var(--secondary-text-cl);
  }


  &--tel {
    font-size: 34px;

    color: var(--accent-text-cl);
  }

  &:hover,
  &:focus {
    color: var(--accent-text-cl);
    fill: var(--accent-text-cl);
  }

  @media screen and (min-width: $table) {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--secondary-text-cl);
  }

  @media screen and (min-width: $desktop) {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contacts-list__icon {
  display: none;

  @media screen and (min-width: $table) {
    display: inline-flex;

    margin-right: 8px;
  }

  @media screen and (min-width: $desktop) {
    margin-right: 10px;
  }
}