.contacts-list {
  display: none;

  .menu-container.is-open & {
    display: flex;
    flex-direction: column-reverse;
    gap: 32px;
  }


  @media screen and (min-width: $table) {}

  @media screen and (min-width: $desktop) {
    flex-direction: column;
    margin-left: auto;
  }
}

.contacts-list__item {

  @media screen and (min-width: $table) {}

  @media screen and (min-width: $desktop) {
    &:not(:last-child) {
      margin: 0 50px 0 0;
    }
  }

}



.contacts-list__link {

  text-decoration: none;
  line-height: 1.17;

  color: $secondary-text-cl;
  fill: $secondary-text-cl;

  transition: color $transition-time $transition-cubic;

  &--mail {
    font-size: 24px;

    color: $secondary-text-cl;
  }


  &--tel {
    font-size: 34px;


    color: $accent-text-cl;
  }

  &:hover,
  &:focus {
    color: $accent-text-cl;
    fill: $accent-text-cl;
  }

}

.contacts-list__icon {
  display: none;

  @media screen and (min-width: $table) {}

  @media screen and (min-width: $desktop) {
    margin-right: 10px;

  }
}