.header {
    position: relative;
    padding: 10px 0;
    border-bottom: 1px solid #ececec;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    @media screen and (min-width: $table) {
        padding: 0;
    }
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav {
    flex-grow: 2;

    @media screen and (min-width: $table) {
        display: flex;
        flex-grow: 0;
    }

    @media screen and (min-width: $desktop) {
        margin-right: 94px;
    }
}


.header__logo {

    @media screen and (min-width: $table) {
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.03em;

        margin-right: 88px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 26px;
        line-height: 1.19;

        margin-right: 94px;
    }
}

.header__btn {

    @media screen and (min-width: $table) {
        display: none;
    }
}