.nav-list {
    display: none;

    .menu-container.is-open & {
        display: block;
    }

    @media screen and (min-width: $table) {
        display: inline-flex;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
    }
}


.nav-list__item {

    &:not(:last-child) {
        margin: 0 0 32px 0;
    }

    @media screen and (min-width: $table) {
        display: flex;

        &:not(:last-child) {
            margin: 0 50px 0 0;
        }
    }
}


.nav-list__link {
    position: relative;

    color: var(--main-text-cl);

    &--current {
        color: var(--accent-text-cl);
    }

    @media screen and (min-width: $table) {
        padding: 32px 0;

        &--current::after {
            content: ' ';
            position: absolute;
            bottom: 0px;
            left: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-bg-cl);

            transition: color var(--transition-time) var(--transition-cubic);
        }
    }
}