  :root {
    /* Fonts */
    --main-font: 'Roboto',
      sans-serif;
    --secondary-font: 'Raleway',
      sans-serif;

    /* Text colors */
    --main-text-cl: #212121;
    --secondary-text-cl: #757575;
    --accent-text-cl: #2196f3;
    --light-text-cl: #ffffff;

    /* Background colors */

    --main-bg-cl: #ffffff;
    --secondary-bg-cl: #2f303a;

    --primary-section-bg-cl: #f5f4fa;
    --accent-bg-cl: #2196f3;

    /* Other colors */
    --address-color: rgba(255, 255, 255, 0.6);
    --icon-color: #afb1b8;

    /* Other visuals vars */

    /* Transition */
    --transition-cubic: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-time: 250ms;
  }

  /* Adaptive */
  $mobile: 480px;
  $table: 768px;
  $desktop: 1200px;